.container {
    padding-bottom: var(--bottom-nav-height);
    min-height: calc(100vh - var(--header-height));
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-4);
    margin-bottom: var(--spacing-2);
}

.currentDate {
    font-size: var(--text-lg);
    font-weight: var(--font-weight-bold);
}

.navButton {
    padding: var(--spacing-2);
    color: var(--color-text-main);
}

.weekDays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    font-size: var(--text-xs);
    color: var(--color-text-muted);
    margin-bottom: var(--spacing-2);
}

.weekDay {
    padding: var(--spacing-2) 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: var(--color-surface);
    /* border-bottom: 1px solid var(--color-border); */
}

.dayCell {
    height: 60px;
    /* Adjust height */
    border-top: 1px solid var(--color-border);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: var(--spacing-2);
    cursor: pointer;
    position: relative;
}

.dayCell:hover {
    background-color: var(--color-surface-hover);
}

.disabled {
    color: var(--color-text-muted);
    background-color: #fcfcfc;
}

.selected {
    background-color: var(--color-surface-hover);
}

.dayNumber {
    font-size: var(--text-sm);
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.today {
    background-color: var(--color-primary);
    color: white;
}

.dots {
    display: flex;
    gap: 2px;
    margin-top: 4px;
}

.dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--color-warning);
}

/* Event List */
.eventList {
    flex: 1;
    background-color: var(--color-background);
    padding: var(--spacing-4);
    border-top: 1px solid var(--color-border);
}

.sectionTitle {
    font-size: var(--text-base);
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--spacing-4);
}

.eventItem {
    display: flex;
    align-items: center;
    gap: var(--spacing-3);
    padding: var(--spacing-3);
    background-color: var(--color-surface);
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-sm);
    margin-bottom: var(--spacing-2);
    font-size: var(--text-sm);
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--color-primary);
}

.emptyState {
    color: var(--color-text-muted);
    font-size: var(--text-sm);
}